[Desktop Entry]
Name=can-json-gui-two
Comment=A GPUI desktop application
Exec=can-json-gui-two
Icon=can-json-gui-two
Type=Application
Categories=Utility;
Terminal=false
