[Desktop Entry]
Name=can-json-gui
Comment=A GPUI desktop application
Exec=can-json-gui
Icon=can-json-gui
Type=Application
Categories=Utility;
Terminal=false
