[Desktop Entry]
Name=can-json-gui-2.0
Comment=A GPUI desktop application
Exec=can-json-gui-2.0
Icon=can-json-gui-2.0
Type=Application
Categories=Utility;
Terminal=false
